body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(44,139,44);
}

.logo{
    width: 20%;
    margin-bottom: 20px;
}

.icone{
    width: 64px;
}